/*
img {border-radius: 50%;}
p {
color: green;  
font-size: 12px;
}

h1, h2, h3 {font-family: sans-serif}

section, p, h3 {
	color: green;
	font-size: 14pt;
}
p {
  text-decoration: underline;
}
#header {
color: yellow;
}
#firstname {
background-color: red;
}
.address {
font-style: italic;
}
p strong {
background-color: green;
}
*/
.red {
color: red;
}
.orange {
color: orange;
}
.yellow {
color: yellow;
}
.green {
color: green;
}
.blue {
color: blue;
}
.indigo {
color: indigo;
}
.violet {
color: violet;
}
.roygbiv{
    text-transform: uppercase;
    font-weight: bold;
}
#quote {
    color: gray;
    font-style: italic;
}
p{
    font-family: Georgia;
}